*.dll
*.cache
*.pdb
bin/Debug/*
bin/Release/*
obj/Debug/*
obj/Release/*
!bin/Debug/Newtonsoft.Json.dll
!bin/Debug/RestSharp.dll
!bin/Release/Newtonsoft.Json.dll
!bin/Release/RestSharp.dll
!obj/Debug/Newtonsoft.Json.dll
!obj/Debug/RestSharp.dll
!obj/Release/Newtonsoft.Json.dll
!obj/Release/RestSharp.dll

!bin/Debug/SocketIO*
!bin/Debug/WebSocket*
!bin/Release/SocketIO*
!bin/Release/WebSocket*

!obj/Debug/SocketIO*
!obj/Debug/WebSocket*
!obj/Release/SocketIO*
!obj/Release/WebSocket*